/ccsi/hands_on/test_cs3.py
/ccsi/hands_on/test.py
/ccsi/hands_on/test_s3.py
/ccsi/hands_on/test_era5.py
/ccsi/hands_on/test_proxy.py
/ccsi/hands_on/try_wekeo_clms.py
/ccsi/hands_on/wekeo_s2.py
/ccsi/hands_on/
